/* Universal tags */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  cursor: default;
}

/* Typography */

h1 {
  font-size: 40px;
  margin: 16px 0px;
}

h2 {
  margin: 8px 0;
}

h3 {
  margin: 8px 0;
}

p {
  margin: 4px 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding-left: 0;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

